

.topnav {
    background-color: #333;
    overflow: hidden;
    top:0px;

    width: 100% !important;

  }
  
  /**credit to w3 for template*/
  
  /* Style the links inside the navigation bar */
  .topnav li {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }




    /* Style the links inside the navigation bar */
    .navbutton {
        cursor: pointer;
        outline: none;
        font-size: 1.3em !important;
        border-radius: 0.5rem;
        border-color: black !important;
        border-width: 1.5px !important;
      
        background-color: #696969 !important;
        white-space: nowrap;

      }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(207, 50, 50);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a:focus {
    background-color: #26be87;
    color: white;
  }
  






      /* Style the links inside the navigation bar */
      .navRoster {
    background-color: #333;
    overflow: hidden;
    top:0px;

    width: 100% !important;

      }

  /* Change the color of links on hover */
  .navRoster a:hover {
    background-color: rgb(207, 50, 50);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navRoster a:focus {
    background-color: #26be87;
    color: white;
  }
